<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.AdminPermissionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.AdminPermissionPO">
        <id column="admin_permission_id" property="adminPermissionId" />
        <result column="admin_menu_id" property="adminMenuId" />
        <result column="admin_permission_code" property="adminPermissionCode" />
        <result column="admin_permission_url" property="adminPermissionUrl" />
        <result column="admin_permission_text" property="adminPermissionText" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_permission_id, admin_menu_id, admin_permission_code, admin_permission_url, admin_permission_text, create_time, update_time
    </sql>

    <!-- 权限一对多返回值 -->
    <resultMap id="PermissionResultMap" type="com.chenyifaer.back.entity.vo.AdminPermissionMenuVO">
        <result column="admin_menu_name" property="adminMenuName" />
        <result column="admin_menu_id" property="adminParentMenuId" />
        <collection property="permissionList" javaType="list" ofType="com.chenyifaer.back.entity.vo.AdminPermissionVO">
            <id column="admin_permission_id" property="adminPermissionId" />
            <result column="admin_menu_id" property="adminMenuId" />
            <result column="admin_permission_text" property="adminPermissionText" />
        </collection>
    </resultMap>

    <!-- 查询权限列表 -->
    <select id="getList" resultMap="PermissionResultMap">
        SELECT
            m.admin_menu_name,
            m.admin_menu_id,
            p.admin_permission_id,
            p.admin_menu_id,
            p.admin_permission_text
        FROM
            t_admin_menu m,
            t_admin_permission p
        WHERE
            p.admin_menu_id = m.admin_menu_id
    </select>

    <!-- 查询当前登录用户拥有的菜单权限 -->
    <select id="getUserMenuList" resultType="com.chenyifaer.back.entity.vo.AdminUserMenuVO">
        SELECT DISTINCT
            m.admin_menu_name adminMenuName,
            m.url url,
            rp.admin_role_id adminRoleId
        FROM
            t_admin_menu m,
            t_admin_role_permission rp,
            t_admin_user_role ur,
            t_admin_user u
        WHERE
            u.admin_user_id = ur.admin_user_id
        AND rp.admin_role_id = ur.admin_role_id
        AND rp.admin_menu_id = m.admin_menu_id
        AND u.admin_user_account = #{adminUserAccount}
    </select>

</mapper>
