<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.AdminUserDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.AdminUserPO">
        <id column="admin_user_id" property="adminUserId" />
        <result column="admin_user_account" property="adminUserAccount" />
        <result column="admin_user_password" property="adminUserPassword" />
        <result column="admin_user_name" property="adminUserName" />
        <result column="admin_user_phone" property="adminUserPhone" />
        <result column="admin_user_email" property="adminUserEmail" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_user_id, admin_user_account, admin_user_password, admin_user_name, admin_user_phone, admin_user_email, status, create_time, update_time
    </sql>

    <!-- 查询后台用户列表 -->
    <select id="getList" resultType="com.chenyifaer.back.entity.vo.AdminUserVO">
        SELECT
            u.admin_user_id adminUserId,
            u.admin_user_account adminUserAccount,
            u.admin_user_name adminUserName,
            u.admin_user_phone adminUserPhone,
            u.admin_user_email adminUserEmail,
            u.STATUS STATUS,
            u.create_time createTime,
            r.admin_role_name adminRoleName
        FROM
            t_admin_user u
        INNER JOIN
            t_admin_role r
        INNER JOIN
            t_admin_user_role ur
        ON
            u.admin_user_id = ur.admin_user_id
        AND
            r.admin_role_id = ur.admin_role_id
        <if test="adminUserAccount != '' and adminUserAccount != null">
            AND u.admin_user_account LIKE CONCAT('%',#{adminUserAccount},'%')
        </if>
        <if test="adminUserName != '' and adminUserName != null">
            AND u.admin_user_name LIKE CONCAT('%',#{adminUserName},'%')
        </if>
        <if test="adminUserPhone != '' and adminUserPhone != null">
            AND u.admin_user_phone LIKE CONCAT('%',#{adminUserPhone},'%')
        </if>
        <if test="adminUserEmail != '' and adminUserEmail != null">
            AND u.admin_user_email LIKE CONCAT('%',#{adminUserEmail},'%')
        </if>
        <if test="adminRoleId != '' ">
            AND r.admin_role_id = #{adminRoleId}
        </if>
        <if test="status != '' ">
            AND u.status = #{status}
        </if>
    </select>

    <!-- 查询Oauth认证需要的用户数据 -->
    <select id="getOauthUser" resultType="com.chenyifaer.back.entity.vo.OauthUserVO">
        SELECT
            admin_user_id adminUserId,
            admin_user_account adminUserAccount,
            admin_user_password adminUserPassword,
            admin_user_name adminUserName,
            status status
        FROM
            t_admin_user
        WHERE
            admin_user_account = #{adminUserAccount}
    </select>


</mapper>
