<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.AdminMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.AdminMenuPO">
        <id column="admin_menu_id" property="adminMenuId" />
        <result column="admin_menu_name" property="adminMenuName" />
        <result column="admin_menu_parent_id" property="adminMenuParentId" />
        <result column="icon" property="icon" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_menu_id, admin_menu_name, admin_menu_parent_id, icon, url, status, create_time, update_time
    </sql>

</mapper>
