<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.LogDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.LogPO">
        <id column="log_id" property="logId" />
        <result column="user_id" property="userId" />
        <result column="menu_name" property="menuName" />
        <result column="action" property="action" />
        <result column="operation" property="operation" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, user_id, menu_name, action, operation, create_time
    </sql>

    <!-- 查询系统日志列表 -->
    <select id="getList" resultType="com.chenyifaer.back.entity.vo.LogVO">
        SELECT
            u.admin_user_name adminUserName,
            l.menu_name menuName,
            l.action action,
            l.operation operation,
            l.create_time createTime
        FROM
            t_sys_log l,
            t_admin_user u
        WHERE
            l.user_id = u.admin_user_id
        <if test="adminUserName != null and adminUserName != ''">
            AND u.admin_user_name LIKE CONCAT('%',#{adminUserName},'%')
        </if>
        <if test="action != null and action != ''">
            AND l.action LIKE CONCAT('%',#{action},'%')
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            AND
                DATE_FORMAT(l.create_time,'%Y-%m-%d')
            BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY l.create_time DESC
    </select>

</mapper>
