<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.ShopGoodsCheckDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.ShopGoodsCheckPO">
        <id column="goods_check_id" property="goodsCheckId" />
        <result column="goods_id" property="goodsId" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="check_time" property="checkTime" />
        <result column="fail_remark" property="failRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_check_id, goods_id, status, create_time, check_time, fail_remark
    </sql>

    <!-- 查询商品审核列表 -->
    <select id="getList" resultType="com.chenyifaer.back.entity.vo.GoodsCheckVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            t.type_name typeName,
            g.goods_price goodsPrice,
            g.goods_discount goodsDiscount,
            g.goods_discount_price goodsDiscountPrice,
            g.goods_inventory goodsInventory,
            gm.url url,
            g.recommended_status recommendedStatus,
            g.integral_status integralStatus,
            g.coupons_status couponsStatus,
            gc.goods_check_id goodsCheckId,
            gc.create_time createTime,
            gc.status status,
            gc.check_time checkTime,
            gc.fail_remark failRemark
        FROM
            t_shop_goods_check gc
            INNER JOIN t_shop_goods g ON gc.goods_id = g.goods_id
            INNER JOIN t_shop_goods_images gm ON gm.goods_id = g.goods_id
            INNER JOIN t_shop_goods_type t ON g.goods_type_id = t.shop_goods_type_id
            AND gm.type = 1
        <where>
            <if test="goodsName != null and goodsName != ''">
                g.goods_name LIKE CONCAT('%',#{goodsName},'%')
            </if>
            <if test="status != null and status != ''">
                gc.status = #{status}
            </if>
        </where>
        ORDER BY gc.create_time DESC
    </select>

</mapper>
