<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.ShopSkuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.ShopSkuPO">
        <id column="shop_sku_id" property="shopSkuId" />
        <result column="sku_key_id" property="skuKeyId" />
        <result column="sku_value_id" property="skuValueId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_sku_id, sku_key_id, sku_value_id, create_time
    </sql>

</mapper>
