<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.ShopGoodsImagesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.ShopGoodsImagesPO">
        <id column="goods_images_id" property="goodsImagesId" />
        <result column="goods_id" property="goodsId" />
        <result column="type" property="type" />
        <result column="url" property="url" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_images_id, goods_id, type, url, create_time
    </sql>

</mapper>
