<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.back.dao.WebUserDetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.back.entity.po.WebUserDetailPO">
        <id column="user_detail_id" property="userDetailId" />
        <result column="user_id" property="userId" />
        <result column="user_sex" property="userSex" />
        <result column="user_name" property="userName" />
        <result column="user_phone" property="userPhone" />
        <result column="user_email" property="userEmail" />
        <result column="user_birthday" property="userBirthday" />
        <result column="user_head_image" property="userHeadImage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_detail_id, user_id, user_sex, user_name, user_phone, user_email, user_birthday, user_head_image, create_time, update_time
    </sql>

</mapper>
