<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.web.dao.ShopSkuKeyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.web.entity.po.ShopSkuKeyPO">
        <id column="shop_sku_key_id" property="shopSkuKeyId" />
        <result column="key_name" property="keyName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_sku_key_id, key_name, create_time
    </sql>

</mapper>
