<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.web.dao.ShopOrdersDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.web.entity.po.ShopOrdersPO">
        <id column="orders_id" property="ordersId" />
        <result column="flow_number" property="flowNumber" />
        <result column="user_id" property="userId" />
        <result column="express_name" property="expressName" />
        <result column="express_number" property="expressNumber" />
        <result column="goods_price" property="goodsPrice" />
        <result column="express_price" property="expressPrice" />
        <result column="orders_name" property="ordersName" />
        <result column="orders_price" property="ordersPrice" />
        <result column="orders_count" property="ordersCount" />
        <result column="status" property="status" />
        <result column="integral_status" property="integralStatus" />
        <result column="coupons_status" property="couponsStatus" />
        <result column="orders_remark" property="ordersRemark" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
        <result column="deliver_time" property="deliverTime" />
        <result column="collect_time" property="collectTime" />
        <result column="close_time" property="closeTime" />
        <result column="cancelled_time" property="cancelledTime" />
        <result column="return_time" property="returnTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        orders_id, flow_number, user_id, express_name, express_number, goods_price, express_price, orders_name, orders_price, orders_count, status, integral_status, coupons_status, orders_remark, create_time, pay_time, deliver_time, collect_time, close_time, cancelled_time, return_time
    </sql>

    <!-- 用户拥有的订单一对多返回值 -->
    <resultMap id="OrdersResultMap" type="com.chenyifaer.web.entity.vo.UserOrdersVO">
        <id column="ordersId" property="ordersId" />
        <result column="flowNumber" property="flowNumber" />
        <result column="expressPrice" property="expressPrice" />
        <result column="ordersPrice" property="ordersPrice" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
        <collection property="ordersDetailList" javaType="list" ofType="com.chenyifaer.web.entity.vo.UserOrdersDetailVO">
            <result column="goodsCount" property="goodsCount" />
            <result column="goodsPrice" property="goodsPrice" />
            <result column="goodsName" property="goodsName" />
            <result column="url" property="url" />
            <result column="keyName" property="keyName" />
            <result column="valueName" property="valueName" />
        </collection>
    </resultMap>

    <!-- 查询用户拥有的订单 -->
    <select id="getList" resultMap="OrdersResultMap">
        SELECT
            o.orders_id ordersId,
            o.flow_number flowNumber,
            o.orders_price ordersPrice,
            o.express_price expressPrice,
            o.status status,
            o.create_time createTime,
            od.goods_count goodsCount,
            od.goods_price goodsPrice,
            g.goods_name goodsName,
            gm.url url,
            k.key_name keyName,
            v.value_name valueName
        FROM
            t_shop_orders o
        INNER JOIN t_shop_orders_details od ON o.orders_id = od.orders_id
        INNER JOIN t_shop_goods g ON od.goods_id = g.goods_id
        INNER JOIN t_shop_goods_images gm ON g.goods_id = gm.goods_id
        INNER JOIN t_shop_sku s ON od.goods_sku_id = s.shop_sku_id
        INNER JOIN t_shop_sku_key k ON s.sku_key_id = k.shop_sku_key_id
        INNER JOIN t_shop_sku_value v ON s.sku_value_id = v.shop_sku_value_id
        AND o.user_id = #{userId}
        AND gm.type = #{type}
        AND o.delete_status = #{deleteStatus}
        <if test="status != null">
            AND o.status = #{status}
        </if>
        ORDER BY o.create_time DESC
    </select>

</mapper>
