<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.web.dao.ShopGoodsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.web.entity.po.ShopGoodsPO">
        <id column="goods_id" property="goodsId" />
        <result column="goods_type_id" property="goodsTypeId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_text" property="goodsText" />
        <result column="goods_sku_content" property="goodsSkuContent" />
        <result column="goods_img_content" property="goodsImgContent" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_discount" property="goodsDiscount" />
        <result column="goods_discount_price" property="goodsDiscountPrice" />
        <result column="goods_sales" property="goodsSales" />
        <result column="goods_inventory" property="goodsInventory" />
        <result column="status" property="status" />
        <result column="recommended_status" property="recommendedStatus" />
        <result column="integral_status" property="integralStatus" />
        <result column="coupons_status" property="couponsStatus" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_id, goods_type_id, goods_name, goods_text, goods_content, goods_price, goods_discount, goods_discount_price, goods_sales, goods_inventory, status, recommended_status, integral_status, coupons_status, create_time, update_time
    </sql>

    <!-- 查询商品分类对应的商品 -->
    <select id="getGoodsByType" resultType="com.chenyifaer.web.entity.vo.GoodsByTypeVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_price goodsPrice,
            g.goods_discount_price goodsDiscountPrice,
            gm.url url
        FROM
            t_shop_goods_type t
        LEFT JOIN t_shop_goods g ON g.goods_type_id = t.shop_goods_type_id
        INNER JOIN t_shop_goods_images gm ON g.goods_id = gm.goods_id
        AND gm.type = 1
        and g.goods_type_id in (
            SELECT
                shop_goods_type_id
            FROM
                t_shop_goods_type
            WHERE
                parent_type_id in  (
                    SELECT
                        shop_goods_type_id
                    FROM
                        t_shop_goods_type
                    WHERE
                        parent_type_id = #{parentTypeId}
                )
            )
        <where>
            <if test="recommendedStatus != null and recommendedStatus != ''">
                g.recommended_status = #{recommendedStatus}
            </if>
        </where>
        ORDER BY g.update_time DESC
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 查询首页推荐商品 -->
    <select id="getRecommendedList" resultType="com.chenyifaer.web.entity.vo.GoodsRecommendedVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN t_shop_goods_images gm on g.goods_id = gm.goods_id
        WHERE
            g.recommended_status = #{recommendedStatus}
        AND
            g.status = #{status}
        AND gm.type = 1
        ORDER BY g.update_time DESC
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 查询首页支持优惠券商品 -->
    <select id="getCouponsList" resultType="com.chenyifaer.web.entity.vo.GoodsCouponsVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN t_shop_goods_images gm on g.goods_id = gm.goods_id
        WHERE
            g.coupons_status = #{couponsStatus}
        AND
            g.status = #{status}
        AND gm.type = 1
        ORDER BY g.update_time DESC
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 查询首页支持积分商品 -->
    <select id="getIntegralList" resultType="com.chenyifaer.web.entity.vo.GoodsIntegralVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN t_shop_goods_images gm on g.goods_id = gm.goods_id
        WHERE
            g.integral_status = #{integralStatus}
        AND
            g.status = #{status}
        AND gm.type = 1
        ORDER BY g.update_time DESC
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 商品详情一对多返回值 -->
    <resultMap id="GoodsDetailResultMap" type="com.chenyifaer.web.entity.vo.GoodsDetailVO">
        <id column="goodsId" property="goodsId" />
        <result column="goodsName" property="goodsName" />
        <result column="goodsText" property="goodsText" />
        <result column="goodsSkuContent" property="goodsSkuContent" />
        <result column="goodsImgContent" property="goodsImgContent" />
        <result column="goodsPrice" property="goodsPrice" />
        <result column="goodsDiscountPrice" property="goodsDiscountPrice" />
        <result column="goodsSales" property="goodsSales" />
        <result column="goodsInventory" property="goodsInventory" />
        <collection property="imgList" javaType="list" ofType="string">
            <result column="url" property="url" />
        </collection>
    </resultMap>

    <!-- 根据商品ID查询商品详情 -->
    <select id="getDetail" resultMap="GoodsDetailResultMap">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            g.goods_sku_content goodsSkuContent,
            g.goods_img_content goodsImgContent,
            g.goods_price goodsPrice,
            g.goods_discount_price goodsDiscountPrice,
            g.goods_sales goodsSales,
            g.goods_inventory goodsInventory,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN t_shop_goods_images gm ON g.goods_id = gm.goods_id
        AND g.goods_id = #{goodsId}
    </select>

    <!-- 根据销量查询商品 -->
    <select id="getGoodsBySales" resultType="com.chenyifaer.web.entity.vo.GoodsSalesVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            g.goods_price goodsPrice,
            g.goods_discount_price goodsDiscountPrice,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN
            t_shop_goods_images gm ON g.goods_id = gm.goods_id
        AND
            gm.type = #{type}
        ORDER BY g.goods_sales DESC
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 根据SKU查询商品 -->
    <select id="getGoodsBySku" resultType="com.chenyifaer.web.entity.vo.GoodsBySkuVO">
        SELECT DISTINCT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_text goodsText,
            g.goods_price goodsPrice,
            g.goods_discount_price goodsDiscountPrice,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN t_shop_goods_images gm ON g.goods_id = gm.goods_id
        INNER JOIN t_shop_goods_sku ON shop_sku_id IN (
            SELECT
                sku_value_id
            FROM
                t_shop_sku
            WHERE sku_key_id = (
                SELECT
                    sku_key_id
                FROM
                    t_shop_sku
                WHERE shop_sku_id = #{shopSkuId}
            )
        )
        AND gm.type = #{type}
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 查询全部商品 -->
    <select id="getList" resultType="com.chenyifaer.web.entity.vo.GoodsVO">
        SELECT
            g.goods_id goodsId,
            g.goods_name goodsName,
            g.goods_price goodsPrice,
            g.goods_discount_price goodsDiscountPrice,
            g.goods_sales goodsSales,
            gm.url url
        FROM
            t_shop_goods g
        INNER JOIN
            t_shop_goods_images gm ON g.goods_id = gm.goods_id
        AND
            gm.type = #{type}
    </select>
</mapper>
