<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenyifaer.web.dao.ShopGoodsSkuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chenyifaer.web.entity.po.ShopGoodsSkuPO">
        <id column="shop_goods_sku_id" property="shopGoodsSkuId" />
        <result column="goods_id" property="goodsId" />
        <result column="shop_sku_id" property="shopSkuId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_goods_sku_id, goods_id, shop_sku_id, create_time
    </sql>

    <!-- 根据商品ID查询对应的SKU -->
    <select id="getSkuByGoodsId" resultType="com.chenyifaer.web.entity.vo.GoodsSkuVO">
        SELECT
            gs.shop_sku_id shopSkuId,
            v.value_name valueName
        FROM
            t_shop_goods_sku gs
        INNER JOIN t_shop_sku s ON gs.shop_sku_id = s.shop_sku_id
        INNER JOIN t_shop_sku_value v ON s.sku_value_id = v.shop_sku_value_id
        AND gs.goods_id = #{goodsId}
    </select>

    <!-- 随机查询10条SkuKey -->
    <select id="getKeyName" resultType="com.chenyifaer.web.entity.vo.SkuKeyVO">
        SELECT
            shop_sku_key_id skuKeyId,
            key_name keyName
        FROM
            t_shop_sku_key
        LIMIT #{startSize} , #{endSize}
    </select>

    <!-- 根据SkuKeyId查询SkuValue -->
    <select id="getSkuValueBySkuKey" resultType="com.chenyifaer.web.entity.vo.SkuValueVO">
        SELECT
            s.shop_sku_id shopSkuId,
            v.value_name valueName
        FROM
            t_shop_sku s
            INNER JOIN t_shop_sku_value v ON s.sku_value_id = v.shop_sku_value_id
        WHERE
            s.sku_key_id = #{skuKeyId}
    </select>
</mapper>
